.App {
}

table {
  padding: 20px
}
table td{
  padding: 20px
}

/*tr:nth-child(odd) {*/
/*  background-color: blue;*/
/*}*/
/*tr:nth-child(even) {*/
/*  background-color: red;*/
/*}*/
tr:nth-child(odd) {
  background-color: #c55f5f;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}


